
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  margin-top: 25px;
  display: flex;
  align-content: space-between;
  height: vh;
  justify-content: center;
  align-items: center;

}
.box{
  background-color: white;
  width: 750px;
}
input{
  justify-content: center;
  align-items: center;
}
div{
  margin:10px 0px;

}
td{
  text-align: center;
}

